.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  border: 2px solid lightskyblue;
  padding: 2rem;
  border-radius: 1rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-line {
  display: flex;
}

.input-line > span {
  color: lightskyblue;
  font-weight: 600;
}

.submit-button{
  max-width: 4rem;
}
